{%extends 'layout.html'%}
{%block body%}

<div class ="col-lg-12"  style="text-align: center;">
    <img src="static/images/headphone_guy.jpg" style="height:150px;width:150px;align:center">
</div>
<p><em>
    We are software engineers who like to listen smooth tunes while working. It is scientifically proven that listing
    smooth tunes while working can help you in several ways. We thought why do not we share this beautiful collection of
    good and smooth tunes with you. This tunes will provide you ambiance of good
    environments.
    </em>
</p>
<p><em>Some advantages we would to share.</em>
    <ul>
        <li>
            Research has shown that blood flows more easily when music is played. It can also reduce heart rate,
            lower blood pressure, decrease cortisol (stress hormone) levels and
            increase serotonin and endorphin levels in the blood.
            <a href="https://www.northshore.org/healthy-you/9-health-benefits-of-music/">source</a>
        </li>
        <li>
            Studies show that 90% of workers perform better when listening to music, and 88% of employees produce
            more accurate work when listening to music. Listening to music not only boosts workplace efficiency,
            it can also improve your mental and emotional well-being.
            <a href="https://www.webfx.com/blog/internet/music-productivity-infographic/#:~:text=Music%20and%20productivity,-Music%20has%20the&text=And%20according%20to%20research%2C%20it,mental%20and%20emotional%20well%2Dbeing.">source</a>
        </li>
    </ul>
</p>
{%endblock%}