{%extends 'layout.html'%}
{%block body%}
<p>
    We are software engineers who like to listen smooth tunes while working. It is scientifically proven that listing
    smooth tunes while working can help you in several ways. We thought why do not we share this beautiful collection of
    good and smooth tunes with you and share the advantage of good sound. This tunes will provide you ambiance of good
    environments.
</p>
<p>Some advantages we would to share.
    <ul>
        <li>
            Research has shown that blood flows more easily when music is played. It can also reduce heart rate,
            lower blood pressure, decrease cortisol (stress hormone) levels and
            increase serotonin and endorphin levels in the blood.
            <a href="https://www.northshore.org/healthy-you/9-health-benefits-of-music/">source</a>
        </li>
        <li>
            Music can boost the brain’s production of the hormone dopamine. This increased dopamine production helps
            relieve feelings of anxiety and depression. Music is processed directly by the amygdala,
            which is the part of the brain involved in mood and emotions.
        </li>
        <li>
            Studies show that 90% of workers perform better when listening to music, and 88% of employees produce
            more accurate work when listening to music. Listening to music not only boosts workplace efficiency,
            it can also improve your mental and emotional well-being.
            <a href="https://www.webfx.com/blog/internet/music-productivity-infographic/#:~:text=Music%20and%20productivity,-Music%20has%20the&text=And%20according%20to%20research%2C%20it,mental%20and%20emotional%20well%2Dbeing.">source</a>
        </li>
    </ul>
</p>
{%endblock%}