{%extends 'layout.html'%}
{%block body%}
    <div class="card-header">
        <h1> Welcome to Ambientivity!</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {% if paragraphs %}
                {% for paragraph in paragraphs %}
                    <p> {{ paragraph}} </p>
                {% endfor %}
            {% else %}
                <p>Ambientivity recreates the ambient sounds to boost your creativity and help you work better. Proven and peer reviewed, see the research to learn more.</p>
            {% endif %}
        </h5>
    </div>
{%endblock%}