<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Ambientivity</title>
    <!-- CSS only -->
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <style>
         @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                [class*="col-"] {
                    width: 100%;
              }
                .col{
                  width: 100%;
              }
         }
    </style>
</head>
<body>
    {%include 'include/navbar.html'%}
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card col-sm-12" >
                <div class="card-header"style="margin-top:1%">
                    <strong>{{name}}</strong>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {% if song %}
                            <div>
                                <audio controls>
                                    <source src="{{url_for('static', filename=song)}}"  type="audio/mp3">
                                </audio>
                            </div>
                        {% else %}
                            <div>
                                <audio controls >
                                    <source src="" type="audio/mp3">
                                </audio>
                            </div>
                        {% endif %}
                    </h5>
                    {% for song in entries %}
                    <form method="POST" action="/">
                        <div>
                            <input type="hidden" value="{{song.id}}" id="stream_id" name="stream_id">
                            <input type="submit" class="btn btb-link" value="{{song.name}}">
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card col-sm-12">
                {% block body%}
                {% endblock %}
            </div>
        </div>
    </div>
    </div>
    <hr>

    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>